.container {
  max-width: 375px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
  }
}
