:root {
  --black-color: #1c1d20;
  --medium-black-color: #242527;
  --gray-color: #3b3b3b;
  --red-color: #ed3b44;
  --white-color: #fafafa;

  --success-green: #3cbc81;
  --error-red: #e74a3b;

  --accent-limegreen: #c6e327;
  --accent-blue: #0041e8;
  --accent-coral: #e6533c;
  --accent-darkgreen: #2b4441;
  --accent-orange: #ff7f08;
}
