.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .about-jefferson {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.jefferson-container {
  max-width: 375px;
  margin: auto;
  padding: 64px 16px;
}

.description-about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-content {
  text-transform: uppercase;
  height: 500px;
  width: 343px;
  padding: 32px;
  border-radius: 24px;
  background: #242527;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--white-color);
}

.span-red {
  color: #ed3b44;
}

.span-grey {
  color: rgba(250, 250, 250, 0.4);
}

.img-about {
  border-radius: 24px;
  width: 100%;
}

.flex {
  margin-bottom: 12px;
}

.tailwind-trigger {
  background-color: inherit;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
padding: 0;
align-items: flex-start;
}

.tailwind-ac {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}

.btn.rotate svg {
  transform: rotate(180deg);
}

.tailwind-panel {
  overflow: hidden;
  transition-timing-function: ease;
  padding-left: 0;
  margin-bottom: 4px;
}

.accordion-item {
  line-height: 1.5;
  letter-spacing: -0.02em;
  transition: none;
  color: var(--white-color);
    padding-bottom: 32px;
}

.tailwind-accordion-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .jefferson-container {
    min-width: 768px;
    padding: 64px 32px 96px 32px;
  }

  .text-content {
    font-size: 38px;
    line-height: 1.05;
    width: 704px;
    height: 700px;
    padding: 64px;
  }

  .tailwind-accordion-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .flex {
    margin-bottom: 8px;
  }

  .accordion-item {
    padding-bottom: 16px;
  } 

  .btn {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .tailwind-trigger {
margin-right: auto;
font-size: 16px;
padding: 0;
align-items: flex-start;}

.tailwind-panel {
  margin-bottom: 32px;
}
}

@media only screen and (min-width: 1440px) {
  .jefferson-container {
    min-width: 1440px;
    padding: 96px 32px 164px 32px;
  }

  .description-about-me {
    width: 1376px;
    justify-content: flex-start;
  }

  .tailwind-accordion-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .text-content {
    width: 680px;
  }

  .img-about {
    width: 680px;
    height: 700px;
  }

  .tailwind-trigger {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
padding: 0;
align-items: flex-start;
  }

  .flex {
    width: 100%;
  }

  .btn {
    margin-left: auto;
  }

  .tailwind-ac {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .tailwind-panel {
    text-align: right;
    margin-left: auto;
    width: 612px;
    margin-right: 68px;
    margin-bottom: 24px;
  }

  .accordion-item {
    text-align: left;
    padding-bottom: 32px;
  }
}

/* ------------Swiper--------------- */
.about-swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.about-swiper-wrapper .swiper.about-jefferson-swiper {
  display: flex;
  position: initial;
  margin-left: 0px;
  margin-top: -5px;

}

.about-swiper-list .about-item.swiper-slide {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  box-sizing: border-box;
}

.about-swiper-list .swiper-slide.swiper-slide-active {
  background-color: #ed3b44;
}

.about-jefferson-swiper .about-swiper-list.swiper-wrapper {
  gap: 0;
  margin-left: 0;
  width: 260px;
}

.about-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-item-par {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.next-button {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 33%;
}

@media only screen and (min-width: 768px) {
  .about-swiper-wrapper .swiper.about-jefferson-swiper {
    width: 600px;
    margin-left: 0px;
    margin-top: -32px;
  }

  .about-swiper-list .swiper-slide.about-item {
    width: 200px;
    height: 200px;
  }

  .next-button {
    width: 40px;
    height: 40px;
    top: 30%;
  }

  .about-item-par {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-swiper-wrapper .swiper.about-jefferson-swiper {
    width: 1200px;
    margin-left: 32px;
    margin-top: -22px;
    
  }
 .next-button {
  top: 33%;
  right: 30px;
 }
}
