/* #region FAQ */
.faq {
  padding: 0px;
}
.container {
  padding: 0 16px;
}
.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.faq-list-first .faq-item:last-child {
  border-bottom: none;
}
.faq-list-second {
}
.faq-item {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding: 20px 0;
}
.faq-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.question-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  max-width: 289px;
}
.faq-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
}
.icon-arrow-up {
  display: none;
}

.icon-arrow-up .is-active {
  display: inline-block;
}

.answer-wrapper {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.answer-wrapper.is-active {
  display: block;
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
  margin-top: 16px;
}
.answer-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* #endregion */

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .question-title {
    max-width: 574px;
  }
  .faq-list-second .faq-item:last-child .question-title {
    max-width: 485px;
  }
  .faq-item {
    padding: 32px 0 32px;
  }

  .answer-text {
    max-width: 656px;
  }
}

@media only screen and (min-width: 1280px) {
  .faq-wrapper {
    display: flex;
  }
  .faq-list-first {
    width: 50%;
  }
  .faq-list-second {
    width: 50%;
  }

  .faq-list-first .faq-btn {
    margin-right: 32px;
  }
  .faq-list-first .faq-item {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-list-first .faq-item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-list-second .question-title {
    margin-left: 32px;
  }
  .faq-list-second .faq-item {
    border-left: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-list-second .faq-item:last-child {
    padding: 19px 0;
  }
  .faq-list-second .faq-item .answer-text {
    margin-left: 32px;
  }
}
