/* #region FAQ */
.faq {
  padding-bottom: 64px;
}
.faq .container {
  padding: 0 16px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.faq-list-first .faq-item:last-child {
  border-bottom: none;
}
.faq-item {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding: 20px 0;
}
.faq-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.question-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  max-width: 289px;
}
.faq-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
}
.icon-arrow-up {
  display: none;
}

.icon-arrow-up .is-active {
  display: inline-block;
}

.answer-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.answer-wrapper.is-active {
  height: auto;
  transition: height 0.5s ease-in;
  margin-top: 16px;
}
.answer-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* #endregion */

@media only screen and (min-width: 768px) {
  .faq .container {
    padding: 0 32px;
  }
  .faq {
    padding-bottom: 96px;
  }

  .question-title {
    max-width: 574px;
  }
  .faq-item {
    padding: 32px 0 32px;
  }
  .faq-btn {
    width: 40px;
    height: 40px;
  }
  .active-faq-item {
    padding: 32px 0 24px;
  }
  .faq-item:first-child .answer-wrapper.is-active {
    padding-bottom: 24px;
  }
  .faq-item:nth-child(6) .question-title {
    max-width: 465px;
  }
  .answer-text {
    max-width: 656px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq {
    padding-bottom: 164px;
  }
  .faq-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .faq-item:first-child .answer-wrapper.is-active {
    padding-bottom: 0px;
  }
  .faq-item:nth-child(odd) .active-faq-item {
    padding: 32px 0px 26px 0;
  }
  .faq-item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-item:nth-child(2) .answer-wrapper.is-active {
    margin-top: 11px;
  }
  .faq-item:nth-child(odd) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-item:nth-child(odd) .answer-wrapper {
    margin-right: 30px;
  }
  .faq-item:nth-child(odd) .faq-btn {
    margin-right: 30px;
  }
  .faq-item:nth-child(even) .answer-text {
    margin-left: 32px;
  }
  .faq-item:nth-child(even) .question-title {
    margin-left: 32px;
  }
  .faq-item:nth-child(6) .answer-wrapper.is-active {
    margin-top: 26px;
  }
}
