.faq {
  padding: 32px 16px;
}
.container {
}
.faq-wrapper {
}
.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.faq-list {
}
.faq-item {
  border-top: 1px solid rgba(250, 250, 250, 0.2);

  padding: 20px 0;
}
.faq-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.faq-question-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}
.faq-question {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  max-width: 283px;
}
.faq-arrow-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}
.icon-arrow {
}
.faq-answer {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
