/* SECTION-HERO-STYLES */
.section-hero {
  width: 100%;
  background-image: url('../../img/hero/Glass-effect-mobile.png');
  background-repeat: no-repeat;
  background-size: 578px;
  margin: auto;
}

.container-hero {
  padding: 0 16px 32px 16px;
  min-width: 320px;
}

.container-main-text {
  padding-top: 281px;
  padding-bottom: 212px;
  padding-right: 14px;
}

.main-text {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.container-link {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.ul-link {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.link-a {
  width: 37px;
  height: 37px;
  padding: 10px 12px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-a:hover {
  background-color: #e0373f;
}
.link-a:focus {
  background-color: #e0373f;
}

.link-address {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.link-address-a {
  width: 130px;
  height: 37px;
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.link-address-a:hover {
  background-color: #e0373f;
}
.link-address-a:focus {
  background-color: #e0373f;
}

/* MOBILE */
@media screen and (min-width: 375px) {
  .container-hero {
    padding: 0 16px 32px 16px;
  }

  .link-address {
    font-size: 14px;
    width: 178px;
  }
  .link-address-a {
    width: 178px;
  }
}

/* END-MOBILE */

/* TABLET */
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: url('../../img/hero/Glass-effect-tablet.png');
    background-size: 581px;
  }
  .container-hero {
    padding: 0 32px 32px 32px;
  }

  .container-main-text {
    padding-top: 300px;
    padding-bottom: 187px;
    margin-right: 104px;
    padding-right: 0;
  }

  .main-text {
    font-size: 90px;
  }

  .container-link {
    padding-left: 229px;
    gap: 8px;
  }

  .ul-link {
    gap: 8px;
  }

  .link {
    font-size: 16px;
  }
  .link-a {
    padding: 18px 16px;
    width: 55px;
    height: 55px;
  }

  .link-address {
    font-size: 16px;
  }

  .link-address-a {
    width: 223px;
    height: 55px;
    padding: 18px 16px;
  }
}

/* END-TABLET */

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .section-hero {
    background-image: url('../../img/hero/Glass-effect-desktop.png');
    background-size: 728px;
  }
  .container-main-text {
    padding-top: 300px;
    padding-bottom: 243px;
    margin-left: 146px;
  }

  .container-link {
    padding-left: 901px;
  }

  .link-a {
    padding: 18px 20px;
  }

  .link-address-a {
    padding: 18px 20px;
  }
}

/* END-DESKTOP */

/*BACKGROUND-IMAGE*/

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url('../../img/hero/Glass-effect-mobile@2x.png');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url('../../img/hero/Glass-effect-tablet@2x.png');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url('../../img/hero/Glass-effect-desktop@2x.png');
  }
}
