.reviews {
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}
.container {
}
.reviews-title {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.swiper-container {
}
.mySwiper {
}
.swiper-wrapper {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
.swiper-slide {
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  width: 302px;
  height: 200px;
}
.author {
}
.avatar {
}
.name {
}
.review-text {
}
.swiper-container {
}
