.reviews {
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}
.container {
  padding: 0 32px;
}
.reviews-title {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.swiper-container {
}
.mySwiper {
}
.swiper-wrapper {
}
.reviews-list {
  display: flex;
  gap: 16px;
}
.list-elem {
  width: 343px;
  height: 302px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
}
.avatar {
  margin-bottom: 32px;
  border-radius: 10px;
}
.name {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;

  margin-bottom: 8px;
}
.review-text {
  color: rgba(250, 250, 250, 0.6);

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
.swiper-slide {
}
.swiper-container {
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
