.footer-container {
  padding: 32px 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 85px 32px 169px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 85px 196px 169px;
  }
}

.footer-header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 66px;
}
.footer-header-block {
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-header-container {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-header-container {
    width: 542px;
    height: 146px;
    flex-shrink: 0;
  }
}

.footer-img {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .footer-img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 7px;
  }
}

.footer-header {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .footer-header {
    font-size: 64px;
    line-height: 64px;
  }
}

.footer-work {
  color: var(--red-color);
}

.footer-work-form {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-work-form {
    flex-direction: row;
    column-gap: 32px;
    align-items: center;

    margin-bottom: 35px;
  }
}

.footer-email-input {
  color: rgba(250, 250, 250, 0.6);
  line-height: 1.5;
  letter-spacing: -0.32px;
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: none;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 16px;
  position: relative;

  transition: all ease-in 300ms;
}

.footer-comment-input {
  color: rgba(250, 250, 250, 0.6);
  line-height: 1.5;
  letter-spacing: -0.32px;
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: none;
  margin-bottom: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  transition: all ease-in 300ms;
}

.footer-email-input:focus,
.footer-comment-input:focus {
  outline: none;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .footer-email-input,
  .footer-comment-input {
    width: 245px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer-email-input,
  .footer-comment-input {
    width: 390px;
    margin-bottom: 0;
  }
}

.footer-send-btn {
  width: 100px;
  height: 100px;
  background-color: var(--red-color);
  border-radius: 50%;
  color: var(--white-color);
  line-height: normal;
  letter-spacing: -0.32px;
  transition: all ease-in-out 250ms;
}
.footer-send-btn:hover,
.footer-send-btn:focus {
  background-color: var(--red-hover-color);
}

@media screen and (min-width: 768px) {
  .footer-send-btn {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-send-btn {
    margin-left: 54px;
  }
}

.footer-address-list {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}
.footer-address-list-item {
  padding: 10px 12px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.025em;
  transition: all ease-in-out 250ms;
}

.footer-address-list-item:hover,
.footer-address-list-item:focus {
  border-color: #fafafa;
}

@media screen and (max-width: 374px) {
  .footer-address-list {
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-address-list-item {
    padding: 18px 32px;
    font-size: 16px;
  }
  .footer-address-list {
    gap: 8px;
  }
}

.footer-comment-input:not(:placeholder-shown):invalid,
.footer-email-input:not(:placeholder-shown):invalid {
  border-color: #ea4335;
}

.footer-comment-input:not(:placeholder-shown):valid,
.footer-email-input:not(:placeholder-shown):valid {
  border-color: green;
}

.email-label {
  position: relative;
}

.footer-email-input:valid ~ .success {
  opacity: 100;
}
.footer-email-input:not(:placeholder-shown):invalid ~ .error-data {
  opacity: 100;
}

.footer-comment-input:not(:placeholder-shown):valid ~ .success {
  opacity: 100;
}
.footer-comment-input:not(:placeholder-shown):invalid ~ .error-data {
  opacity: 100;
}

.success {
  color: #3cbc81;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  opacity: 0;
  transition: all ease-in 300ms;
  position: absolute;
  left: 0;
  top: 44px;
  margin-top: 4px;
}

.error-data {
  color: #e74a3b;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  opacity: 0;
  transition: all ease-in 300ms;
  position: absolute;
  left: 0;
  top: 44px;
  margin-top: 4px;
}

#order {
  position: relative;
}

body.modal-open {
  overflow: hidden;
}

#modalContent {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(15, 15, 16, 0.6);
}

.modal-content {
  z-index: 2;
  position: absolute; /* Stay in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 343px;
  background-color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .modal-content {
    padding: 20px;
    width: 492px;
  }
}

.modal-text {
  padding: 44px 12px;
}

@media screen and (min-width: 768px) {
  .modal-text {
    padding: 44px;
  }
}

.modal-content-h2 {
  padding-bottom: 16px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  width: 279px;
}

.modal-content-p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  width: 279px;
}

@media screen and (min-width: 768px) {
  .modal-content-h2 {
    width: 364px;
  }
  .modal-content-p {
    width: 364px;
  }
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-svg {
  stroke: #fff;
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .close-svg {
    width: 24px;
    height: 24px;
  }
}
