<section id="about-jefferson" class="about-jefferson">
  <div class="jefferson-container">
    <h2 class="hidden-title">About me</h2>

    <div class="description-about-me">
      <p class="text-content">
        I work with people all over the world to create impressive and
        <span class="span-red">functional</span>
        <span class="span-grey">websites</span> that reflect each client's
        unique personality.
      </p>
      <picture>
      <source
      srcset="
        ./img/about-me/man-desktop@1x.webp 1x,
        ./img/about-me/man-desktop@2x.webp 2x
      "
      type="image/webp"
    />
      <img
        class="img-about"
        src=" ./img/about-me/man-desktop@1x.png 1x,"
        srcset="
          ./img/about-me/man-desktop@2x.png 2x
        "
        alt="jefferson photo is in a business style"
        loading="lazy"
        width="343"
        height="500"
      />
    </picture>
    </div>

    <div class="tailwind-accordion-container"></div>

    <div class="about-swiper-wrapper"></div>
  </div>
</section>
<!-- 
<div class="tailwind-accordion-container">
  <div class="tailwind-ac">
    <h3 class="flex">
      <button class="tailwind-trigger">About me</button>
      <span class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" fill="none">
          <path stroke="#FAFAFA" stroke-width="2" d="M10.5 6.25 6 1.75l-4.5 4.5"/>
        </svg>
      </span>
    </h3>
    <div class="tailwind-panel">
      <ul class="p-2">
        <li>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</li>
        <li>Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self</li>
      </ul>
    </div>
  </div>
</div> -->


<!-- <div class="about-swiper-wrapper">
  <div class="swiper about-jefferson-swiper">
    <ul class="about-swiper-list swiper-wrapper">
 
      <li class="swiper-slide about-item">
        <p class="about-item-par">HTML/CSS</p>
      </li>
       <li class="swiper-slide about-item">
        <p class="about-item-par">HTML/CSS</p>
      </li>
   <li class="swiper-slide about-item">
        <p class="about-item-par">HTML/CSS</p>
      </li>
  
  
    </ul>
    <div class="next-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
        <path stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.667 20h26.666M23.334 10l10 10-10 10"/>
      </svg>
    </div>
  </div>
</div>  -->