<section class="about-jefferson">
  <div class="jefferson container">
    <div class="about-wrapper">
  <h1 class="hidden-title">About me</h1>
  <div class="description-about-me">
    <p class="text-content">
      I work with people all over the world to create impressive and
      <span class="span-red">functional</span>
      <span class="span-grey">websites</span> that reflect each client's unique
      personality.
    </p>
  </div>
  <img
    lass=""
    src="./img/about-me/jefferson_desk.jpg"
    srcset="
      ./img/about-me/jefferson_desk.jpg    1x,
      ./img/about-me/jefferson_desk@2x.jpg 2x
    "
    alt="jefferson photo is in a business style"
    loading="lazy"
    width="343"
    height="500"
  />
</div>

  <div class="tailwind-accordion-container"></div>

  <div class="swiper">
    <div class="swiper-wrapper"></div>
  </div>
</div>
</section>
