<section id="about-jefferson" class="about-jefferson">
  <div class="jefferson-container">
    <h2 class="hidden-title">About me</h2>

    <div class="description-about-me">
      <p class="text-content">
        I work with people all over the world to create impressive and
        <span class="span-red">functional</span>
        <span class="span-grey">websites</span> that reflect each client's
        unique personality.
      </p>
      <picture>
        <source
        media="(min-width: 1440px)"
        srcset="./img/about-me/man-desktop@1x.png 1x,
        ./img/about-me/man-desktop@2x.png 2x"
        type="image/jpg"
      />
        <source
        media="(min-width: 1440px)"
          srcset="
            ./img/about-me/man-desktop@1x.webp 1x,
            ./img/about-me/man-desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <picture>
          <source
          media="(min-width: 768px)"
          srcset="./img/about-me/man-tablet@1x.png 1x,
          ./img/about-me/man-tablet@2x.png 2x"
          type="image/jpg"
        />
        <source
        media="(min-width: 768px)"
          srcset="
            ./img/about-me/man-tablet@1x.webp 1x,
            ./img/about-me/man-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 320px)"
          srcset="
            ./img/about-me/man-mobile@1x.webp 1x,
            ./img/about-me/man-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          class="img-about"
          src=" ./img/about-me/man-mobile@1x.png 1x,"
          srcset="./img/about-me/man-mobile@2x.png 2x"
          alt="jefferson photo is in a business style"
          loading="lazy"
          width="343"
          height="500"
        />
      </picture>
    </div>

    <div class="tailwind-accordion-container"></div>

    <div class="about-swiper-wrapper"></div>
  </div>
</section>
