<section class="section-benefits">
    <div class="container container-benefits">
        <div class="box-benefits">
            <h2 class="title-benefits">Benefits of working with me</h2>
            <div class="menu-container-benefits">
                <ul class="menu-benefits">
                    <li class="item-benefits">
                        <svg class="svg-benefits" width="48" height="48">
                            <use href="../img/sprite.svg#icon-user"></use>
                        </svg>
                        <h3 class="subtitle-benefits">Expertise</h3>
                        <p class="text-benefits">As a highly experienced developer, I have deep knowledge of programming
                            and
                            website development.
                        </p>
                        <div class="wrap-link-benefits">
                            <a class="link-benefits" href="">View integration
                                <svg class="svg-link-benefits" width="20" height="20">
                                    <use href="../img/sprite.svg#icon-arrow-benefits"></use>
                                </svg>
                            </a>

                        </div>
                    </li>
                    <li class="item-benefits">
                        <svg class="svg-benefits" width="48" height="48">
                            <use href="../img/sprite.svg#icon-message"></use>
                        </svg>
                        <h3 class="subtitle-benefits">Communication</h3>
                        <p class="text-benefits">Understanding your needs and wants is my priority and I am always open
                            to
                            discussions and
                            corrections.
                        </p>
                        <div class="wrap-link-benefits">
                            <a class="link-benefits" href="">View integration
                                <svg class="svg-link-benefits" width="20" height="20">
                                    <use href="../img/sprite.svg#icon-arrow-benefits"></use>
                                </svg>
                            </a>

                        </div>
                    </li>
                    <li class="item-benefits">
                        <svg class="svg-benefits" width="48" height="48">
                            <use href="../img/sprite.svg#icon-brush"></use>
                        </svg>
                        <h3 class="subtitle-benefits">Art</h3>
                        <p class="text-benefits">Thanks to my creative nature, I am ready to accept challenges and help
                            you
                            bring your ideas to
                            life.
                        </p>
                        <div class="wrap-link-benefits">
                            <a class="link-benefits" href="">View integration
                                <svg class="svg-link-benefits" width="20" height="20">
                                    <use href="../img/sprite.svg#icon-arrow-benefits"></use>
                                </svg>
                            </a>

                        </div>
                    </li>
                    <li class="item-benefits">
                        <svg class="svg-benefits" width="48" height="48">
                            <use href="../img/sprite.svg#icon-hourglass"></use>
                        </svg>
                        <h3 class="subtitle-benefits">Urgent execution</h3>
                        <p class="text-benefits">I understand how important time is to you. Ready to work quickly and
                            efficiently, without
                            reducing the quality of work.</p>
                        <div class="wrap-link-benefits">
                            <a class="link-benefits" href="">View integration
                                <svg class="svg-link-benefits" width="20" height="20">
                                    <use href="../img/sprite.svg#icon-arrow-benefits"></use>
                                </svg>
                            </a>

                        </div>
                    </li>
                </ul>
                <button class="btn-benefits">Order the project</button>
            </div>
        </div>
    </div>
</section>