<section class="section-covers">
  <div class="content">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/first@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/second@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="../img/covers/third@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/fourth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/fifth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/sixth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/seventh@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/eighth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/ninth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/tenth@1x.png"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/fifth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/sixth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/seventh@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/eighth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/ninth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/tenth@1x.png"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/ninth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/tenth@1x.png"
            alt=""
          />
        </li>

        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/second@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="../img/covers/third@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/fourth@1x.png"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/fourth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/fifth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/sixth@1x.png"
            alt=""
          />
        </li>
        <li class="marquee__line">
          <img
            class="img-covers"
            srcset=""
            src="./img/covers/seventh@1x.png"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
</section>
