<section class="section-covers">
  <h2 class="visually-hidden">Covers</h2>
  <ul class="wrapper-list">
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/first@1x.webp 1x, ./img/covers/first@2x.webp 2x"
        src="./img/covers/first@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/second@1x.webp 1x, ./img/covers/second@2x.webp 2x"
        src="./img/covers/second@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/third@1x.webp 1x, ./img/covers/third@2x.webp 2x"
        src="./img/covers/third@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="
          ./img/covers/seventh@1x.webp 1x,
          ./img/covers/seventh@2x.webp 2x
        "
        src="./img/covers/seventh@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/fifth@1x.webp 1x, ./img/covers/fifth@2x.webp 2x"
        src="./img/covers/fifth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/sixth@1x.webp 1x, ./img/covers/sixth@2x.webp 2x"
        src="./img/covers/sixth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="
          ./img/covers/seventh@1x.webp 1x,
          ./img/covers/seventh@2x.webp 2x
        "
        src="./img/covers/seventh@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/eighth@1x.webp 1x, ./img/covers/eighth@2x.webp 2x"
        src="./img/covers/eighth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/ninth@1x.webp 1x, ./img/covers/ninth@2x.webp 2x"
        src="./img/covers/ninth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/tenth@1x.webp 1x, ./img/covers/tenth@2x.webp 2x"
        src="./img/covers/tenth@1x.webp"
        alt="project"
      />
    </li>
  </ul>
  <ul class="wrapper-list">
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/fifth@1x.webp 1x, ./img/covers/fifth@2x.webp 2x"
        src="./img/covers/fifth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/sixth@1x.webp 1x, ./img/covers/sixth@2x.webp 2x"
        src="./img/covers/sixth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/fourth@1x.webp 1x, ./img/covers/fourth@2x.webp 2x"
        src="./img/covers/fourth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/second@1x.webp 1x, ./img/covers/second@2x.webp 2x"
        src="./img/covers/second@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/ninth@1x.webp 1x, ./img/covers/ninth@2x.webp 2x"
        src="./img/covers/ninth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/tenth@1x.webp 1x, ./img/covers/tenth@2x.webp 2x"
        src="./img/covers/tenth@1x.webp"
        alt="project"
      />
    </li>
  </ul>
  <ul class="wrapper-list">
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/ninth@1x.webp 1x, ./img/covers/ninth@2x.webp 2x"
        src="./img/covers/ninth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/tenth@1x.webp 1x, ./img/covers/tenth@2x.webp 2x"
        src="./img/covers/tenth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/eighth@1x.webp 1x, ./img/covers/eighth@2x.webp 2x"
        src="./img/covers/eighth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/third@1x.webp 1x, ./img/covers/third@2x.webp 2x"
        src="./img/covers/third@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/fourth@1x.webp 1x, ./img/covers/fourth@2x.webp 2x"
        src="./img/covers/fourth@1x.webp"
        alt="project"
      />
    </li>
  </ul>
  <ul class="wrapper-list">
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/fourth@1x.webp 1x, ./img/covers/fourth@2x.webp 2x"
        src="./img/covers/fourth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/fifth@1x.webp 1x, ./img/covers/fifth@2x.webp 2x"
        src="./img/covers/fifth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="./img/covers/sixth@1x.webp 1x, ./img/covers/sixth@2x.webp 2x"
        src="./img/covers/sixth@1x.webp"
        alt="project"
      />
    </li>
    <li class="marquee__line">
      <img
        loading="lazy"
        class="img-covers"
        srcset="
          ./img/covers/seventh@1x.webp 1x,
          ./img/covers/seventh@2x.webp 2x
        "
        src="./img/covers/seventh@1x.webp"
        alt="project"
      />
    </li>
  </ul>
</section>
