<section class="section-hero">
  <div class="container container-hero">
    <div class="container-main-text">
      <h1 class="main-text">
        Hello.<br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
    </div>
    <div class="container-link">
      <ul class="ul-link">
        <li class="link">
          <a
            class="link-a"
            href="https://www.instagram.com/goitclub/"
            rel="noreferrer noopener"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="link">
          <a
            class="link-a"
            href="https://www.facebook.com/goITclub/"
            rel="noreferrer noopener"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="link">
          <a
            class="link-a"
            href="https://www.youtube.com/c/GoIT"
            rel="noreferrer noopener"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="link">
          <a
            class="link-a"
            href="https://github.com/nadia-yanushevska/Code-Wizards-Project"
            rel="noreferrer noopener"
            target="_blank"
            >GH</a
          >
        </li>
      </ul>
      <address class="link-address">
        <a class="link-address-a" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com
        </a>
      </address>
    </div>
  </div>
</section>
