<section class="section-hero">
  <div class="container container-hero">
    <div class="container-main-text">
      <h1 class="main-text">
        Hello.<br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
    </div>
    <div class="container-link">
      <ul class="ul-link">
        <li class="link">
          <a href="https://www.instagram.com/goitclub/">IG</a>
        </li>
        <li class="link"><a href="https://www.youtube.com/c/GoIT"></a>YT</li>
        <li class="link">
          <a href="https://www.facebook.com/goITclub/">FB</a>
        </li>
        <li class="link">
          <a
            href="https://github.com/nadia-yanushevska/Code-Wizards-Project"
          ></a
          >GH
        </li>
      </ul>
      <address class="link-address">
        <address href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com </a>
      </address>
    </div>
  </div>
</section>
