<link rel="stylesheet" href="../css/layout/projects.css" />
<section class="projects">
  <h2 class="projects-title">Projects</h2>
  <ul class="projects-list">
    <li class="projects-item">
      <span class="my-skills">#react</span>
      <span class="my-skills">#js</span>
      <span class="my-skills">#node js</span>
      <span class="my-skills">#git</span>
      <p class="projects_-text">
        Programming Across Borders: Ideas, Technologies, Innovations
      </p>
      <button type="button">See project</button>
      <img src="" alt="" />
    </li>
    <!-- <li class="projects__item mobile-hide">
      <span class="my-skills">#react</span>
      <span class="my-skills">#js</span>
      <span class="my-skills">#node js</span>
      <span class="my-skills">#git</span>
      <p class="projects__text">
        Programming Across Borders: Ideas, Technologies, Innovations
      </p>
      <button type="button">See project</button>
      <img src="" alt="" />
    </li>
    <li class="projects__item mobile-hide">
      <span class="my-skills">#react</span>
      <span class="my-skills">#js</span>
      <span class="my-skills">#node js</span>
      <span class="my-skills">#git</span>
      <p class="projects__text">
        Programming Across Borders: Ideas, Technologies, Innovations
      </p>
      <button type="button">See project</button>
      <img src="" alt="" />
    </li> -->
  </ul>
</section>
