<section class="projects">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="box">
          <div class="white-background">
            <ul class="my-skills-container">
              <li class="my-skills">#react</li>
              <li class="my-skills">#js</li>
              <li class="my-skills">#node js</li>
              <li class="my-skills">#git</li>
            </ul>
            <p class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="https://github.com" target="_blank" class="project-button"
              >See project</a
            >
          </div>
          <div class="black-background">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/project/registration-mob@1x.png 1x,
                  ../img/project/registration-mob@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/project/registration@1x.png 1x,
                  ../img/project/registration@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/project/registration-mob@1x.png"
                alt="registration"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="box">
          <div class="white-background">
            <ul class="my-skills-container">
              <li class="my-skills">#react</li>
              <li class="my-skills">#js</li>
              <li class="my-skills">#node js</li>
              <li class="my-skills">#git</li>
            </ul>
            <p class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="https://github.com" target="_blank" class="project-button"
              >See project</a
            >
          </div>
          <div class="black-background">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/project/petlove-mob@1x.png 1x,
                  ../img/project/petlove-mob@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/project/petlove@1x.png 1x,
                  ../img/project/petlove@2x.png 2x
                "
                type="image/png"
              />
              <img src="../img/project/petlove@1x.png" alt="registration" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="box">
          <div class="white-background">
            <ul class="my-skills-container">
              <li class="my-skills">#react</li>
              <li class="my-skills">#js</li>
              <li class="my-skills">#node js</li>
              <li class="my-skills">#git</li>
            </ul>
            <p class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="https://github.com" target="_blank" class="project-button"
              >See project</a
            >
          </div>
          <div class="black-background">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/project/register-mob@1x.png 1x,
                  ../img/project/register-mob@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/project/register@1x.png 1x,
                  ../img/project/register@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/project/register-mob@1x.png"
                alt="registration"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="navigation">
      <div class="swiper-button-prev arrow">
        <svg width="24px" height="24px">
          <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next arrow">
        <svg width="24px" height="24px">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</section>
