<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper reviews-list"></ul>
      <div class="swiper-pagination"></div>
      <div class="nav-btns">
        <div class="swiper-button-prev">
          <svg class="icon-leftbtn">
            <use href="../img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="icon-rghtbtn">
            <use href="../img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
