<footer>
  <section id="order">
    <div class="container footer-container">
      <div class="footer-header-container">
        <div class="footer-header-block">
          <img
            class="footer-img"
            src="./img/jefferson.png"
            srcset="./img/jefferson.png 1x, img/jefferson@2x.png 2x"
            loading="lazy"
            alt="jefferson logo"
          />
          <h2 class="footer-header">
            Let’s <span class="footer-work">work</span>
          </h2>
        </div>
        <h2 class="footer-header">together</h2>
      </div>
      <form class="footer-work-form">
        <label for="email" class="email-label">
          <input
            class="footer-email-input"
            type="email"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            name="email"
            id="email"
            placeholder="clients@gmail.com"
            required
          />
          <span class="success">Success!</span>
          <span class="error-data">Invalid email, try again</span>
        </label>
        <label class="email-label" for="comment">
          <input
            class="footer-comment-input"
            type="text"
            name="message"
            id="comment"
            placeholder="comments"
          />
          <span class="success">Success!</span>
          <span class="error-data">Invalid email, try again</span>
        </label>
        <button class="footer-send-btn" type="submit">Send</button>
      </form>
      <address>
        <ul class="footer-address-list">
          <li>
            <a
              class="footer-address-list-item"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li>
            <a class="footer-address-list-item" href="tel:+3801111111111"
              >+380 11 1111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div id="modalContent">
      <div class="modal-content">
        <span class="close">
          <svg class="close-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </span>
        <div class="modal-text">
          <h2 class="modal-content-h2">
            Thank you for your interest in cooperation!
          </h2>
          <p class="modal-content-p">
            The manager will contact you shortly to discuss further details and
            opportunities for cooperation. Please stay in touch.
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
