<footer>
  <section>
    <div class="container footer-container">
      <h2 class="footer-header">
        <!-- <img src="#" alt="#" /> -->
        Let’s <span class="footer-work">work</span> together
      </h2>
      <form class="footer-work-form js-footer-work-form">
        <input
          class="footer-email-input"
          type="email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          placeholder="clients@gmail.com"
        />

        <input
          class="footer-comment-input"
          type="text"
          placeholder="comments"
        />
        <button class="footer-send-btn" type="submit">Send</button>
      </form>
      <address>
        <ul class="footer-address-list">
          <li class="footer-address-list-item">
            <a href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="footer-address-list-item">
            <a href="tel:+3801111111111">+380 11 1111 11 11</a>
          </li>
        </ul>
      </address>
    </div>
  </section>
</footer>
